<nav class="navbar navbar-default" role="navigation" style="background-color:#563d7c;border-color:#463265">
   <div class="navbar-header" style="width:20%">
      <a class="navbar-brand" style="color:aliceblue;margin-left:100px">进货啦</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li><a href="/admin/products" style="background-color:#463265;color:aliceblue;">产品管理</a></li>
         <li><a href="/admin/users" style="background-color:#463265;color:aliceblue;">用户管理</a></li>
         <li><a href="/admin/addresses" style="background-color:#463265;color:aliceblue;">地址管理</a></li>
         <li><a href="/admin/orders" style="background-color:#463265;color:aliceblue;">订单管理</a></li>
         <li><a href="/admin/units" style="background-color:#463265;color:aliceblue;">单位管理</a></li>
         <li><a href="/admin/adverts" style="background-color:#463265;color:aliceblue;">广告管理</a></li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background-color:#463265;color:aliceblue;">
               类别管理
               <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="/admin/categories">大类别</a></li>
               <li><a href="/admin/sub_categories">子类别</a></li>
               <li><a href="/admin/hot_categories">热门类别</a></li>
               <li><a href="/admin/detail_categories">具体类别</a></li>
            </ul>
         </li>
      </ul>
   </div>
</nav>

      